[submodule "cxx_argp"]
	path = cxx_argp
	url = https://github.com/pboettch/cxx_argp

[submodule "aixlog"]
	path = aixlog
	url = https://github.com/badaix/aixlog

[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2
